.skiplinks a {
  /* https://webaim.org/techniques/css/invisiblecontent/ */
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;

  color: black;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  background: mistyrose;
  border: 2px solid salmon;
  font-weight: bold;
  z-index: 1;
}

.skiplinks a:focus {
  left: auto;
  width: auto;
  height: auto;
}
